body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url("back.png");
  background-repeat: no-repeat;
}

h1 {
  padding-left: 25%;
  font-size: 20px;
  color: rgb(66, 65, 63);
}

table {
  background-color: aliceblue;
  border-radius: 5px;
  margin-left: 25%;
  margin-top: 2%;
}

button {
  height: 40px;
  width: 40px;
  border: 0px;
  border-radius: 50%;
  margin: 10px;
  padding: 10px;
  color: rgba(255, 255, 255, 0);
}

#r {
  background-color: rgb(255, 0, 0);
}
#g {
  background-color: rgb(0, 255, 0);
}
#b {
  background-color: rgb(0, 0, 255);
}

#sslider{
  appearance: none;
  margin-left: 25%;
  height: 25px;
  width: 195px;
  background: #ffffff;
  outline: none;
  border-radius: 5px;
}

canvas {
  display: block;
  padding-left: 15%;
}
